/* shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 50px;
}
header,
main {
  width: 1320px;
  margin: 0 auto 120px auto;
}
/* header styles */
/* banner section starts here */
.banner-section {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner Image.png");

  background-repeat: no-repeat;
  border-radius: 16px;
  font-family: "Merriweather", serif;
}

.banner-container {
  text-align: center;
  padding: 200px 344px 177px 344px;
}
.banner-container .banner-upper-title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.banner-container .banner-down-title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* banner section ends here */

/* main styles */
/* discount section starts here */
.discount-container {
  width: 805px;
  margin: 120px auto;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.discount-title {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.discount-description {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 16px;
}
.discount-subtitle {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
.discount-image-box {
  margin-top: 48px;
}

/* welcome section starts here */
.welcome-section {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.welcome-container {
  display: flex;
  justify-content: space-around;
  max-width: 1057px;
  max-height: 465px;
  padding: 68px 138px 68px 126px;
}

.welcome-left-container {
  width: 697px;
  text-align: left;
}
.welcome-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 25px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.welcome-button {
  background: inherit;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  padding-left: 32px;
}
/* welcome section ends here */

/* join-section starts here */
.join-place-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 100px 385px 125px;
  margin: 120px 0;
}

.join-info {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.orange-txt {
  color: #f00;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.join-btn {
  border-radius: 8px;
  background: #f00;
  padding: 16px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 65px;
  border: 0;
}
/* join-section ends here*/

/* ellipse section starts here */
.ellipse-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-box {
  max-width: 393px;
  text-align: left;
}
.left-box-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.left-box-header {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.left-box-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.img-box {
  max-width: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 38px;
}

.right-box {
  max-width: 276px;
  text-align: left;
}
.right-box-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.right-box-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.right-img-box {
  margin-top: 43px;
}
/* ellipse section ends here */

/* sale-section starts here */
.sale-section {
  margin-top: 120px;
  position: relative;
}
.sale-text-container {
  max-width: 1068px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 69px;
}

.sale-title {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.sale-header {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 30px;
}

.header-orange {
  color: #f00;
}
.sale-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.sale-image-container {
  margin-top: 500px;
}
.sale-image-container #lady {
  position: absolute;
  left: 891px;
  bottom: 229px;
}
.sale-image-container #discount {
  position: absolute;
  left: 800px;
  bottom: 350px;
}
.sale-image-container #party {
  position: absolute;
  left: 0;
  top: 350px;
  z-index: 1;
}
/* sale-section ends here */

/* portfolio section starts here */
.portfolio-section {
  margin: 120px 0;
}
.portfolio-text-box {
  max-width: 896px;
  margin-bottom: 50px;
  text-align: left;
}
.portfolio-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio-header {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.portfolio-img-container img {
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

/* portfolio hover effect */
.portfolio-img-container img:hover {
  opacity: 1;
  transform: skew(-1deg);
}
.portfolio-img-box-up {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.portfolio-img-box-down {
  display: flex;
  gap: 24px;
}
/*portfolio section ends here  */

/* subscribe section starts here */
.subscribe-section {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  background-size: cover;
  text-align: center;
}

.subscribe-container {
  max-width: 896px;
  padding: 80px 212px;
}
.subscribe-header {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
  margin-top: 40px;
  margin-bottom: 20px;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}
.subscribe-form {
  display: flex;
  max-width: 648px;
  gap: 0;
  margin: 0 auto;
}
.email-input {
  border: 0;
  padding: 25px;
  border-radius: 35px 0 0 35px;
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.submit-input {
  padding: 25px 55px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 0;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
/*  subscribe section ends here*/

/* footer section starts here */
.footer-section {
  background-color: #070211;
  padding: 120px 140px;
}
.address-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.address-left {
  max-width: 375px;
}
.left-description {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.address-right {
  max-width: 250px;
}
.right-description {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0;
}
.social-links {
  margin: 48px 0;
  text-align: center;
}
.social-links a {
  margin-right: 25px;
}
.rights-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.rights-container p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
/* footer section ends here */
